body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.hexagons {
  position: fixed;
  left: 200px;
  transform: perspective(500px) rotateX(40deg);
}

img {
  margin: 20px 0;
  max-width: 200px;
}

svg {
  border: 2px solid #000;
  box-shadow: inset 4px 4px 17px 0px #aaa, 4px 4px 17px 0px #aaa;
  transform: rotateX(25deg) rotateZ(20deg);
  transition: transform  1.2s;
  z-index: 1;
}

.svg-polygons {
  transition: all 1s ease-out;
}

.polygon-dog {
  cursor: pointer;
}

.polygon-sheep {
  stroke: red;
  stroke-width: 1px;
  cursor: pointer;
}

.polygon-land {
  cursor: pointer;
  fill-opacity: .4;
  stroke: white;
  stroke-width: .2;
  transition: fill-opacity .4s;
}

polygon:hover {
  fill-opacity: 0.8;
}

polygon.grass {
  stroke: #009922;
  fill: #009922;
}

polygon.stream {
  stroke: #3f51b5;
  fill: #3f51b5;
}

polygon.mountain {
  stroke: #aa2211;
  fill: #aa2211;
}

polygon.selected-tile {
  /* fill-opacity: 0.8; */
  stroke: #fff;
  stroke-width: 2px;
}

polygon.active-tile {
  fill-opacity: 0.8;
  stroke: #eee;
  stroke-width: 2px;
}

.dog {
  transform: rotateX(50deg) rotateY(45deg) rotateZ(-24deg) scale(0.8);
}

.sheep {
  transform: rotateX(48deg) rotateY(50deg) rotateZ(-37deg) scale(0.8) translate(-2px, 12px);
}

.turn-details {
  position: fixed;
  right: 0;
  margin: 8px;
}

.turn-details-dog {
  align-items: center;
  cursor: pointer;
  background-color: ghostwhite;
  border: 1px dashed darkblue;
  display: flex;
  font-size: 12px;
  height: 50px;
  padding: 16px;
  width: 100px;
}

.turn-details-dog img {
  background-color: ghostwhite;
  border-radius: 8px;
  height: 40px;
  margin-right: 8px;
}

.turn-details-active {
  background-color: blue;
  color: white;
}

.turn-details-end-turn {
  background-color: #3f51b5;
  color: white;
  padding: 16px;
  margin: 16px;
}

.turn-details-end-turn:hover {
  background-color: #106e60;
  color: white;
  padding: 16px;
  margin: 16px;
}